@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: grey;
    color: white;
    justify-content: space-between;
    padding: 20px;
}

header h1{
    font-family: 'Dancing Script', cursive;
}

#searchbar{
    justify-content: space-between;
}

#search{
    padding: 10px;
}

#genre-select{
    padding: 13.5px;
}

main {
    display: flex;
    justify-content: center;
}

.movie-container {
    display: flex;
    width: 100%;
}

.movie-list {
    padding: 20px;
    background-color: black;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-card {
    flex-basis: calc(25% - 20px); /* Set the width as 25% with a small gap between cards */
    margin: 10px;
    background-color: #232323; 
    border: 1px solid #444;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center;
    transition: transform 0.2s;
}

.movie-card img {
    max-width: 100%;
    height: 250px;
    width: 500px;
}

.movie-card h2 {
    font-size: 1.2rem; 
    margin: 10px 0;
    font-family: 'Abril Fatface', serif;
}

.movie-card p {
    color: #999;
    margin: 8px 0;
}

.movie-card button {
    background-color: red; 
    color: white;
    border: 5px round black;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.movie-card button:hover {
    background-color: #ff543f; 
}

.movie-details {
    position: relative;
    width: 500px;
    padding: 20px;
    background-color: #444;
    color: white;
    border-left: 1px solid rgb(197, 197, 197); 
    text-align: left;
    transition: transform 0.2s;
}

.movie-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
}

.movie-details p {
    margin: 10px 0;
}

.movie-details button {
    background-color: #ff543f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.movie-details button:hover {
    background-color: #d83a2b;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #444 !important; 
    color: white; 
    border: 1px solid #444;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    max-width: 90%;
    position: relative;
}


.modal-button {
    background-color: #ff543f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-button:hover {
    background-color: #d83a2b;
}

.modal-close-button {
    text-decoration: none;
    text-align: right;
    color: #ffffff;
}

@media (max-width: 1024px){
    .movie-details{
        display: none;
    }
    .modal {
        display: flex;
    }
}
@media (min-width: 800px) and (max-width:1024px){
    .movie-card {
        flex-basis: calc(25%);
    }
    .movie-list{
        margin: 0;
        padding: 0;
        justify-content: space-around;
    }    
    
}
@media(min-width:700px) and (max-width:799px){
    
    .movie-card {
        flex-basis: calc(35%);
    }
    .movie-list{
        margin: 0;
        padding: 0;
        justify-content: space-around;
    }
}
@media (min-width:581px) and (max-width:699px){
    .movie-card {
        flex-basis: calc(40%);
    }
    .movie-list{
        margin: 0;
        padding: 0;
        justify-content: space-around;
    }
}
@media (min-width:396px) and (max-width: 580px){
    header{
        justify-content: center;
    }
    header h1{
        display: none;
    }
    .movie-container{
        padding-left: 80px;
        padding-right: 80px;
        background-color: #000000;
    }
    .movie-card {
        flex-basis: calc(100%);
    }
    .movie-list{
        margin: 0;
        padding: 0;
        justify-content: space-around;
    }
}

@media(max-width: 395px){
    header{
        justify-content: center;
    }
    header h1{
        display: none;
    }
    #searchbar{
        display: flex;
        flex-direction: column;
    }
    .movie-container{
        padding-left: 40px;
        padding-right: 40px;
        background-color: #000000;
    }
    .movie-card {
        flex-basis: calc(100%);
    }
    .movie-list{
        margin: 0;
        padding: 0;
        justify-content: space-around;
    }
}
